* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-size: 30px;
    display: flex;
    font-family: serif;
    background-color: papayawhip;
    width: 100%;
    height: 100%;
    text-align: center;
    color: darkslategrey;
    flex-direction: column;
   
    
}

.hero{
    background-image: url("home.jpg"); 
    min-height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    position: relative;
    padding: 0;
    
    
    
    
}
.ayah{
    bottom: 13%;
    font-size: 70px; 
    text-align: center;
    position: absolute;
    margin: 0;
    width: 93%;
    color: white;
}

.bo {
    font-size:90px;
}

@media only screen and (max-width: 768px) {
   .ayah{
     font-size: 30px; 
     width: auto;
   }
 .bo{
     font-size:30px; 
  }
}
.remove1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: sticky;
    border-radius: 0;
    background-color: darkslategrey;
    top: 0;
    justify-content: flex-end;
    gap: 10,px;
    display: flex;
    z-index: 100;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    
    
}
#icon{
    display: none;
}
.remove1 li a{
    color: papayawhip;
    margin: 10px;
    font-size: 22px;
}

@media only screen and (max-width: 768px) {
   .remove1{
left: 0px;
top: 0px;
display: none;
width: auto;
position: absolute;

padding: 10px;
border-radius: 0;

   }
 .hero{
      height: 400px;
  }

i {
    font-size: 30px;
    margin-left: 0px;
    color: papayawhip;
    
  } 
  #icon {
      background-color: darkslategrey;
      padding: 15px;
     border-radius: none;
      display:block;
    width:100%;
      margin:0;
      top: 0px;
     
  }

.remove1.is-open{
    display: block;
}

}
button{
 background-color: darkslategrey;  
 padding: 4%;
 border-radius: 35px;
 font-size: 60px;
 font-family: serif;
}



@media only screen and (max-width: 768px) {
button {
    font-size: 20px;
    border-radius: 10px;
    padding: 15px;
}
}
.bo{
    margin-bottom: 8px;
}
footer{
    padding:10px;
    background-color: grey;
    color: papayawhip;
    font-size:20px;
    bottom: 0;
}
.main-content {
  flex: 1;
}